body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    font-size: 2rem;
}

.contenedor{
    display: flex;
    background-color: rgba(253, 127, 255, 0.232);
    gap: 1rem;
    flex-direction: column;
}

.item {
    background-color:blueviolet;
    padding: 0.25rem;
    color: aliceblue;
}

.seccionP {
    padding: 10px;
    flex-grow: 1;
    
}

@media (max-width: 640px) {

    body {
        flex-direction: column-reverse;
    }
    .seccionP{
        display: flex;
        color:blueviolet;
        min-height: 10vh;
        min-width: 100vw;
        margin-top: 10rem;

    }    
    .contenedor{
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

